.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
}

.header {
  font-size: var(--text-lg);
  text-transform: uppercase;
}

.emptyList {
  font-size: var(--text-md);
  text-align: center;
  padding: 4rem var(--space-md);
  text-transform: capitalize;
}