.item {
  display: flex;
  flex-direction: column;
}

.header,
.subHeader {
  display: flex;
  align-items: center;
}

.header {
  padding: var(--space-md) 0 0;
  justify-content: space-between;
}

.icon {
  font-size: var(--text-sm);
}

.subHeader {
  justify-content: space-between;
  background-color: var(--light1);
}

.name {
  font-size: var(--text-md);
  font-weight: 700;
  text-transform: uppercase;
  width: 80%;
}

.serve {
  font-size: var(--text-sm);
  text-transform: capitalize;
  font-weight: 400;
}

.name:not:nth-of-type(1) {
  padding-top: var(--space-md);
}

.divider, 
.dividerTitle {
  height: 1px;
  margin: var(--space-sm) 0;
}

.dividerTitle {
  width: 100%;
  background-color: var(--primary-color);
}

.divider {
  width: 100%;
  background-color: var(--light2);
}

.image {
  width: 40%;
  max-width: 300px;
  object-fit: cover;
}

.ingredientHeader {
  font-size: var(--text-xs);
  text-transform: uppercase;
  margin-right: 1rem;
}

.ingredientList,
.instructionList {
  display: none;
  visibility: hidden;
  opacity: 0;
  list-style: inside;
  font-size: var(--text-xs);
}

.open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.instructionHeader {
  font-size: var(--text-xs);
  margin-right: 1rem;
  text-transform: uppercase;
}

.instruction {
  padding: var(--space-sm) 0;
}

@media(min-width: 1400px) {
  .image {
    max-width: 500px;
  }

  .icon {
    font-size: var(--text-md);
  }
}

