.item {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--flow-lg) 0 0;
}

.name {
  font-size: var(--text-xs);
  font-weight: 700;
  text-transform: uppercase;
  width: 80%;
}

.name:not:nth-of-type(1) {
  padding-top: var(--flow-lg);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  transition: all 100ms ease-in;
}

.btn:before {
  content: "save";
  position: absolute;
  font-size: var(--text-xs);
  text-align: center;
  width: 2.5rem;
  top: 0;
  opacity: 0;
  transform: translateY(0rem);
  transition: all 100ms ease-in;
}

.btn:hover {
  background-color: var(--primary-color);
}

.btn:hover:before {
  opacity: 1;
  transform: translateY(-1.5rem);
}


.divider {
  height: 1px;
  width: 90%;
  background-color: var(--light2);
  margin: var(--flow-sm) 0;
}

.image {
  width: 40%;
  max-width: 250px;
  object-fit: cover;
}