.item {
  display: flex;
  flex-direction: column;
}

.header,
.subHeader {
  display: flex;
  align-items: center;
}

.header {
  padding: var(--flow-lg) 0 0;
  justify-content: space-between;
}

.subHeader {
  justify-content: space-between;
  background-color: var(--light1);
}

.name {
  font-size: var(--text-md);
  font-weight: 700;
  text-transform: uppercase;
  width: 80%;
}

.serve {
  font-size: var(--text-sm);
  text-transform: capitalize;
  font-weight: 400;
}

.name:not:nth-of-type(1) {
  padding-top: var(--flow-lg);
}

.btn,
.btnList{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border: none;
  transition: all 100ms ease-in;
  background-color: var(--primary-color);
}

.btn:before {
  content: "save";
  position: absolute;
  font-size: var(--text-xs);
  text-align: center;
  width: 2.5rem;
  top: 0;
  opacity: 0;
  transform: translateY(0rem);
  transition: all 100ms ease-in;
}

.btn:hover:before,
.btnList:hover:before {
  opacity: 1;
  transform: translateY(-1.5rem);
}

/* save btn was pressed */
.saved {
  background-color: #f00;
}

.divider, 
.dividerTitle {
  height: 1px;
  margin: var(--flow-sm) 0;
}

.dividerTitle {
  width: 100%;
  background-color: var(--primary-color);
}

.divider {
  width: 100%;
  background-color: var(--light2);
}

.flexWrapper {
  display: flex;
  align-items: flex-start;
}

.image {
  width: 40%;
  max-width: 250px;
  object-fit: cover;
}

.ingredientHeader {
  font-size: var(--text-xs);
  text-transform: uppercase;
  margin-right: 1rem;
}

.ingredientList,
.instructionList {
  display: none;
  visibility: hidden;
  opacity: 0;
  list-style: inside;
  text-transform: capitalize;
  font-size: var(--text-xs);
}
/* open list when button clicked*/
.open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.instructionHeader {
  font-size: var(--text-xs);
  margin-right: 1rem;
  text-transform: uppercase;
}

.instruction {
  padding: var(--padding-input) 0;
}

