.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 50vw;
  border: 1px solid black;
}

@media only screen and (min-width: 700px ) {
  .form {
    padding: 1rem 5rem;
  }
}