:root {
  --light1: #fffdfd;
  --light2: #f1e8e8;
  --light3: #ebdfdf;
  --dark1: #0e0d0d;
  --dark2: #222020;
  --dark3: #474242;
  --primary-color: rgb(238, 196, 11);
  --font: "Montserrat", sans-serif;
  --text-lg: clamp(2.2rem, 2.3vw, 3.2rem);
  --text-md: clamp(1.4rem, 1.9vw, 2.2rem);
  --text-sm: clamp(1rem, 1.6vw, 1.9rem);
  --text-xs: clamp(0.8rem, 1.4vw, 1.6rem);
  --padding: 1rem;
  --space-lg: 4rem;
  --space-md: 2rem;
  --space-sm: 1rem;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../assets/fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../assets/fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

p, 
span, 
div {
  line-height:1.8;
}

a {
  text-decoration: none;
}

input, button {
  font-family: inherit;
}

button {
  cursor: pointer;
}