.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding: 0 var(--space-md);
  border-bottom: 1px solid var(--light2);
}

.header {
  font-size: var(--text-md);
  color: var(--dark3);
  text-transform: capitalize;
}

.items {
  display: flex;
  text-transform: capitalize;
  height: 100%;
}

.item {
  height: 100%;
  width: 15vw;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--dark3);
  font-size: var(--text-xs);
  height: 100%;
  width: 100%;
  transition: all 200ms ease;
}

.link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  transition: all 100ms ease;
}

.link:hover {
  background-color: var(--light2);
  color: var(--dark1);
}

.link:hover:before {
  background-color: var(--primary-color);
  width: 100%;
}

.active {
  color: var(--dark1);
  background-color: var(--light1);
}

.active.link:before {
  background-color: var(--primary-color);
}

@media only screen and (min-width: 700px ) {
  .nav {
    padding: 0rem var(--space-lg);
  }
}