.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem var(--padding-mobile);
  text-align: center;
}

.home > * {
  margin-bottom: var(--flow-lg);
}

.chefHatImg {
  position: absolute;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  z-index: -1;
  right: 0;
  top: 0;
  filter: opacity(10%);
}

.header {
  font-size: var(--text-lg);
  text-transform: uppercase;
}

.info {
  font-size: var(--text-sm);
  text-transform: uppercase;
}

.link {
  display: block;
  width: 300px;
  padding: var(--padding-btn);
  margin: 0 auto;
  border: 3px solid var(--primary-color);
  background-color: var(--light1);
  text-transform: uppercase;
  color: var(--dark3);
  transition: all 100ms ease;
}

.link:hover {
  background-color: var(--light2);
  color: var(--dark1);
}
