.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1rem var(--space-md);
  box-shadow: inset 0px 0px 5px var(--light2);
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  display: none;
}

.items {
  display: flex;
  text-transform: uppercase;
}

.link {
  color: var(--dark3);
  font-size: var(--text-sm);
}

.marginLeft {
  margin-left: 1rem;
}

/* active nav link */
.active {
  color: var(--primary-color);
}

@media only screen and (min-width: 700px ) {
  .nav {
    padding: 1rem var(--space-lg);
  }

  .title {
    display: block;
    font-size: var(--text-sm);
    color: var(--dark1);
    text-transform: uppercase;
    font-weight: 700;
  }

  .image {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .marginLeft {
    margin-left: var(--space-lg);
  }
}